mnemonic.js
.env
.idea/
allFiredEvents
coverage.json
coverage/
node_modules/
abigenBindings/
goBindings/
.volumes/
docker/.volumes/
build/
!packages/contracts/build
dist/*
.vscode
lib/
# Local Netlify folder
.netlify
packages/contracts/yarn-error.log
